body{
  background-color: burlywood;
}
#main-box{
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 600px;
  height: 1000px;
  background-color: antiquewhite;
}
#header{
  font-family: monospace;
  text-decoration: underline;
  color: blue;
  align-self: center;
}
#inputbutton{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: auto;
  width: 50%;
}
#mapper{
  display: flex;
  font-family: cursive;
  font-size: x-large;
}