body{
  background-color: burlywood;
}
#main-box{
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 600px;
  height: 100vh;
  background-color: antiquewhite;
}
#header{
  font-family: monospace;
  text-decoration: underline;
  color: blue;
  align-self: center;
  text-align: justify;
}
#inputbutton{
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: auto;
  width: 50%;
}
#mapper{
  display: flex;
  font-family: cursive;
  font-size: x-large;
}
#listdeleteitem{
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
}
.centered{
  display: flex;
  margin: auto;
  justify-content: center;
}
.headermain{
  display: flex;
  flex-direction: column;
  font-family: monospace;
  align-self: center;
  text-align: center;
  width: 40%;
}
h3{
  border: solid thick orange;
  color: black;
}
.items{
  color: blue;
}
.bigunderline{
  display: flex;
  border: solid thick black;
  background-color: black;
}
#footer{
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: xx-large;
  border: thick solid green;
  width: 33%;
}
#strikethrough{
  text-decoration: line-through;
}
.margins{
  margin-left: 10%;
}